/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

/*@import "bootstrap-sprockets";*/
/*@import "bootstrap";*/

$gray: #797474;

.navbar-form {
  display: inline-block;
  float: left;
}

#navbar_search {
  border: none;
}

.movie-slider {
  font-family: "Copperplate"
}

.movie-slider-auto {
  font-family: "Copperplate"
}

.movie-slider img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie-slider-auto img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie-duration {
  display: inline-block;
  float: right;
  margin-right: 15px;
  color: $gray;
}

.movie-year {
  display: inline-block;
  color: $gray;
  margin-left: 15px;
}

#movie-title {
  margin-bottom: -7px;
  margin-left: 15px;
  font-size: 15px;
}

.movie-topics {
  font-family: "Copperplate";
  margin-top: 5px;
  display: inline-block;
}

.sort-by-form {
  display: inline-block;
}

.sort-by-selection {
  display: inline-block;
}

.sort-by-search {
  display: inline-block;
}

.selection-style {
  -webkit-appearance: button;
  -webkit-user-select: none;
  -webkit-padding-end: 5px;
  -webkit-padding-start: 2px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #4171CE;
  font-size: 17px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: copperplate;
}

.search-button {
  background-color: #272B30;
  border: none;
}

.fa-sort-desc {
  color: #4171CE;
  margin-left: -6px;
}

.modal-image {
  height: 300px;
}

.modal-title {
  font-family: copperplate;
}

.movie-modal-size {
  width: 500px;
}

.movie-review {
  font-size: 13px;
}

/*rating star*/

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star {
    display: block;
    width: 16px;
    height: 16px;
    background: url('star.png') 0 -16px;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('star.png') 0 -16px;
}